@import '../variables';

.landing-page-wrapper {
  padding: 40px;
  h2 {
    font-size: 36px;
    font-weight: 600;
  }
  h3 {
    text-align: center;
    padding-bottom: 20px;
  }

  button {
    width: 200px;
    padding: 10px 40px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    color: var(--mid-blue);
    box-shadow: var(--drop-shadow);
  }

  .hero {
    .column {
      padding-right: 40px;
    }
    img {
      // box-shadow: var(--drop-shadow);
      width: 50%;
    }
  }

  .primary-btn {
    background-color: var(--deep-yellow);
  }

  .subheading {
    font-size: 20px;
    font-weight: 300;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .column {
    padding-right: 20px;
  }

  .section {
    margin: 60px 0px;
  }

  .feature-box {
    border-radius: 40px;
    width: 25%;
    padding: 20px;
    box-shadow: var(--drop-shadow);
    background-color: var(--mid-blue-opacity);

    h4 {
      color: var(--deep-yellow);
      font-size: 18px;
    }
  }

  .highlights {
    .row {
      margin: 120px 0px;
    }

    .highlight-text {
      width: 30%;
    }

    .highlight-primary-text {
      font-size: 24px;
      font-weight: 600;
      color: var(--deep-yellow);
    }
    img {
      width: 50%;
      // box-shadow: var(--drop-shadow);
    }
  }

  .team-member-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--mid-blue-opacity);
    border-radius: 40px;
    padding: 20px;
    box-shadow: var(--drop-shadow);
    a {
      color: var(--light-color);
      padding: 0px 10px;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 0;
      color: var(--deep-yellow);
    }

    p {
      margin: 20px 0;
    }

    .headshot {
      height: 100px;
    }
  }
}
