@import '../variables';

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  line-height: 50px;
  align-items: center;

  .logo {
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: var(--mid-blue);
    // padding: 0 0 0 20px;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: var(--mid-blue);
    }
  }
}
