@import '../variables';

.settings-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0 40px;
  min-width: 200px;
  max-width: 200px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  label {
    padding: 10px 0px;
    font-weight: 700;
  }

  select {
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
    border: none;
    border-bottom: 1px solid var(--mid-blue-opacity);
    background: transparent;
    color: white;
  }
}
