// $light-color: #f5f5f5;
// $mid-blue: #003566;

:root {
  --light-color: #f5f5f5;
  --light-color-opacity: rgba(245, 245, 245, 0.5);
  // --mid-blue: #003566;
  --mid-blue: #042439;
  // --mid-blue-opacity: rgba(0, 53, 102, 0.5);
  --mid-blue-opacity: rgba(3, 41, 62, 0.5);
  --pale-blue: #acbbca;
  --deep-yellow: #ffc300;
  --drop-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
