@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './variables';

body {
  //   background: linear-gradient(to right, #d3d3d3, #87ceeb, #e6e6fa);
  // color: white;
  background: linear-gradient(180deg, #5ea2ed 0%, #003566 100%);
  // background: linear-gradient(
  //   180deg,
  //   #67aefd 0%,
  //   rgba(0, 29, 61, 0.9) 34.38%,
  //   #67aefd 100%
  // );
  margin: 0 auto;
  // background: var(--light-color);
  font-family: Quicksand;
  // color: var(--mid-blue);
  color: var(--light-color);

  hr {
    border: 0.5px solid var(--light-color);
    margin: 0 auto;
  }
}
