// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
    background: linear-gradient(to right, #D3D3D3, #87CEEB, #E6E6FA);
    // color: white;
    border: 1px solid blue;
    margin: 0 auto;
}

